<div class="container">

<h1><%=@user.username%>'s Diet Tracker</h1>

<% @user.diets.each do |diet| %> 

	<p>
		<a href="/diets/<%=diet.slug%>"><%=diet.date%></a> 
	</p>

<%end%>

<form action="/diets" method="post">

	<input type="submit" name="New diet" value="New diet">
</form>

<br> 

<form action="/logout" method="get">
	<input type="submit" id="submit" name="Logout" value="Logout">
</form>

</div>